header {
  text-align: center; }

section {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0 20px 20px;
  margin-bottom: 5px; }

.section-header {
  text-align: center; }

button {
  display: block;
  margin: 20px 0;
  padding: 5px 10px;
  background-color: #337ab7;
  color: #fff;
  border: 1px solid #337ab7;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  outline: 0px;
  cursor: pointer; }

input {
  margin-top: 20px;
  display: block;
  width: 200px; }

button:hover {
  background-color: #286090;
  border-color: #204d74; }
